@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Work+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Roboto Mono", monospace; */
/* font-family: "Merriweather", serif; */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* min-height: 100vh; */
  background-color: #F4EEFF !important;
}

.login-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.aa{
  border: 1px solid rgb(195, 194, 194) !important;
}

.login-text{
  font-family: "Merriweather", serif;
}